///////////////////////////////////////
// BLANC
///////////////////////////////////////

$White: #fff;
$White_30: rgba(255, 255, 255, 0.3);
$White_20: rgba(255, 255, 255, 0.2);
$White_05: rgba(255, 255, 255, 0.05);
$white_bis: #FDFDFD;

///////////////////////////////////////
// NOIR
///////////////////////////////////////

$Black: #000;
$Black_30: rgba(0, 0, 0, 0.3);
$Black_20: rgba(0, 0, 0, 0.2);
$Black_10: rgba(0, 0, 0, 0.1);
$Black_12: rgba(0, 0, 0, 0.12);
$Black_05: rgba(0, 0, 0, 0.05);

///////////////////////////////////////
// VERT
///////////////////////////////////////

$Fairway_600: #007031;
$Fairway_700: #005A27;

///////////////////////////////////////
// GRIS
///////////////////////////////////////

$Grey_100: #F5F5F5;
$Grey_200: #E5E5E5;
$Grey_300: #D4D4D4;
$Grey_500: #737373;

///////////////////////////////////////
// ROUGE
///////////////////////////////////////

$Red_600: #D92D20;
$Red_700: #B42318;