///////////////////////////////////////
// IMPORT
///////////////////////////////////////

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

///////////////////////////////////////
// FONT FAMILY
///////////////////////////////////////

$family_body: 'Inter', sans-serif;

///////////////////////////////////////
// FONT SIZE
///////////////////////////////////////

$size_10: 10px;
$size_12: 12px;
$size_13: 13px;
$size_14: 14px;

///////////////////////////////////////
// LINE HEIGHT
///////////////////////////////////////

$line_14: 14px;
$line_16: 16px;
$line_18: 18px;
$line_20: 20px;

///////////////////////////////////////
// SPACING
///////////////////////////////////////

$spacing_0: 0;

///////////////////////////////////////
// FONT WEIGHT
///////////////////////////////////////

$weight_500: 500;
$weight_600: 600;


///////////////////////////////////////
// GROUP STYLE BOUTON
///////////////////////////////////////

$typo_btn: (
"body_m_medium": (
  "font-family": $family_body,
  "font-size": $size_14,
  "line-height": $line_20,
  "font-weight": $weight_500
),
"body_s_medium": (
  "font-family": $family_body,
  "font-size": $size_13,
  "line-height": $line_18,
  "font-weight": $weight_500
),
"body_xs_semibold": (
  "font-family": $family_body,
  "font-size": $size_12,
  "line-height": $line_16,
  "font-weight": $weight_600
),
"body_xxs_semibold": (
  "font-family": $family_body,
  "font-size": $size_10,
  "line-height": $line_14,
  "font-weight": $weight_600
  ),
);