///////////////////////////////////////
// ALIGNEMENT
///////////////////////////////////////

%center {
    display: flex;
    align-items: center;
    justify-content: center;
}

///////////////////////////////////////
// DIMENSION
///////////////////////////////////////

%fullwindow {
    height: 100vh;
    width: 100vw;
}

///////////////////////////////////////
// EFFECT
///////////////////////////////////////

%shadow {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: inherit;
    background-color: $Black_05;
  }
}

///////////////////////////////////////
// TYPOGRAPHY
///////////////////////////////////////

@each $variant, $style in $typo_btn {
  %typo_#{$variant} {
    @each $prop, $value in $style {
      #{$prop}: $value;
    }
  }
}